h1 {
  color: darkorange;
  font-size: 70px;
  text-align: center;
}

h2 {
  color: black;
  font-size: 40px;
}

body {
  background-color: grey;
}
p {
  font-size: 25px;
}
.libro {
  display: block;
  margin: auto;
}
